.toast-body {
  padding: 1rem;
  color: #0c5460;
  background-color: #d7efde;
  border-bottom-color: rgba(190, 229, 235, 0.85);
}

.toast-header {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  background-clip: padding-box;
  border-bottom: 1px solid #e3ebf6;
  border-top-left-radius: calc(0.375rem - 1px);
  border-top-right-radius: calc(0.375rem - 1px);
  color: #0c5460;
  background-color: #eaf6ec;
  border-bottom-color: rgba(190, 229, 235, 0.85);
}

.toast {
  flex-basis: 300px;
  max-width: 300px;
  font-size: 0.9375rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e3ebf6;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.1);
  opacity: 1;
  border-radius: 0.375rem;
  margin: 0 auto;
}

#b-toaster-top-right {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}

.card {
  box-shadow: none;
}

.width-400,
html {
  width: 350px;
  height: 460px;
}

.footer-avatar .avatar-title {
  background: #ff8c00 !important;
}

.dropdown-menu.show {
  outline: none;
}

.openedornot .dropdown-toggle::after {
  display: none !important;
}

.openedornot .dropdown-item {
  padding: 0.175rem 0.6rem;
}

.popover {
  max-width: 260px;
  font-size: 0.8rem;
}

.list-group-flush > .list-group-item:last-child {
  border-width: 0 0 1px;
}

.footer-sec {
  position: fixed;
  bottom: 0;
  height: 54px;
  background: #f7f7f7;
  width: 100%;
  left: 0;
  right: 0;
  padding-left: 2px;
  font-size: 12px;
  padding: 10px 18px 10px;
}

.footer-sec a {
  font-size: 11px;
}

.f-lineheight {
  line-height: 1.5;
}

.footer-sec .f-emailid {
  font-size: 10px;
}

.footer-sec h6 {
  font-size: 0.9rem;
}

.mailsend-ext-main {
  max-height: 410px;
  overflow-x: hidden;
  overflow-y: auto;
}

.mailsend-ext-main::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar {
  width: 8px;
}

.table-responsive::-webkit-scrollbar {
  height: 4px;
}

.mailsend-ext-main::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #fff;
}

.mailsend-ext-main::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
  outline: 1px solid #fff;
  border-radius: 10px;
}

.fixed-readtab .nav-tabs {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: #f9fbfd;
  left: 0;
  right: 0;
}

.fixed-readtab .mainpage {
  margin-top: 2.25rem !important;
}

.font12 {
  font-size: 0.75rem !important;
}

.custom-switch .custom-control-label::before {
  height: 1.2rem;
  left: -3.2rem;
  width: 2.5rem;
}

.o-cardbody {
  padding: 16px 18px;
}

.detail-list-group {
  padding: 0.6rem 0.8rem !important;
}

.detail-list-group .font12 {
  line-height: 1.2;
}

.detail-card-header {
  height: auto !important;
}

.head-text {
  font-size: 12px;
  font-weight: 400;
  width: 84%;
  line-height: 1.5;
}

.arrowicon {
  padding: 0 4px 0 0px;
  font-size: 16px;
}

.ellipsis {
  max-width: 25ch;
}

.ellipsis1 {
  max-width: 18ch;
}

.ellipsis2 {
  max-width: 15ch;
}

.ellipsis1,
.ellipsis,
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-ellipses .btn-link {
  padding-right: 6px;
  padding-left: 6px;
}

.dropdown-ellipses .btn-link:focus {
  box-shadow: none;
  outline: none;
}

.headersec {
  height: 50px;
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.heading-text {
  text-transform: capitalize;
  font-size: 0.8rem;
}

.supportingline {
  font-size: 11px;
  line-height: 1.4;
}

.lineheight {
  line-height: 1.3;
}

.emailid,
.datetime {
  font-size: 0.75rem;
}

.custom-switch .custom-control-label::after {
  top: 0.13rem;
  left: -3.0125rem;
  width: 0.925rem;
  height: 0.925rem;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(1.3rem);
}

.nav-tabs {
  margin: 0 10px;
}

.nav-tabs .nav-link {
  padding: 0.4rem 0 0.7rem;
}

.list-group-item {
  margin: 0 10px;
  padding: 1rem 0.75rem;
}

.avatar-title {
  background-color: #ffc107;
  line-height: 15px;
}

.card .card-body:last-child .cardbody-row {
  border-bottom: 0 !important;
}

.customswitch {
  margin-bottom: -5px;
}

.avatar.avatar-sm {
  width: 2.2rem;
  height: 2.2rem;
}

::v-deep [class^="icon-"] {
  padding: 0px;
  font-size: 20px !important;
  text-align: center;
  margin: 0px auto;
  line-height: inherit;
  vertical-align: middle;
}

::v-deep .tooltip-inner {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
  background: #fff;
  font-size: 12px;
  color: #333;
  min-width: 70px;
}

::v-deep .arrow::before {
  border-right-color: #fff !important;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.cursor {
  cursor: pointer;
}

.body-scroll::-webkit-scrollbar {
  width: 8px;
}

button,
button:focus,
button:hover {
  box-shadow: none;
  outline: none;
}

.body-scroll::-webkit-scrollbar {
  width: 8px;
}

.body-scroll::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  outline: 1px solid #fff;
  border-radius: 10px;
}

.body-scroll::-webkit-scrollbar-thumb,
.popover-body::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  outline: 1px solid #fff;
  border-radius: 10px;
}

.body-scroll::-webkit-scrollbar-track,
.popover-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #fff;
}
.body-scroll::-webkit-scrollbar-track,
.popover-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #fff;
}
.popover-body::-webkit-scrollbar {
  width: 5px;
}
.popover-body {
  overflow: auto !important;
  max-height: 215px !important;
  color: #12263f !important;
  line-height: 18px !important;
}
.colse {
  font-weight: 400 !important;
}

body {
  margin: 0;
  font-family: "Cerebri Sans", sans-serif !important;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #12263f;
  text-align: left;
  background-color: #f9fbfd;
}

.b-sidebar > .b-sidebar-header {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        align-items: center;
      }
      .b-sidebar.b-sidebar-right {
        left: auto;
        right: 0;
      }
      .b-sidebar {
        display: flex;
        flex-direction: column;
        width: 320px;
        max-width: 100%;
        max-height: 100%;
        margin: 0;
        outline: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      .b-sidebar,
      .b-sidebar-backdrop {
        position: fixed;
        top: 0;
        height: 100vh;
      }
      .link-view-table .b-table {
        margin-bottom: 0px !important;
      }