<!DOCTYPE html>
<html lang="en" style="width: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>App Minds</title>
    <link id="stylesheetLight" preload rel="stylesheet" href="https://nagendra-500.github.io/CSS/theme.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
    <!-- Libs CSS -->
    <link rel="stylesheet" href="https://nagendra-500.github.io/CSS/feather.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue2-datepicker/index.css" />
    <link rel="stylesheet" href="/cs/style.css" />

    <!-- <link rel="stylesheet" href="popup.css" /> -->
    <% if (NODE_ENV==='development' ) { %>
    <!-- Load some resources only in development environment -->
    <% } %>
  </head>

  <body>
    <div id="app"></div>
    <script src="popup.js"></script>
    <style lang="css" scoped>
      @import url('https://nagendra-500.github.io/CSS/popup.css');
    </style>
  </body>
</html>
