@font-face {
  font-family: infinity-opensans;
  src: url(https://my.ap1.500apps.com/pcors?url=https://widgets.500apps.com/fonts/OpenSans-Regular.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: infinity-opensans-semibold;
  src: url(https://my.ap1.500apps.com/pcors?url=https://widgets.500apps.com/fonts/OpenSans-SemiBold.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 400;
}

.ninjachat-opensans {
  font-family: infinity-opensans !important;
}

@font-face {
  font-family: infinity-poppins;
  src: url(https://my.ap1.500apps.com/pcors?url=https://widgets.500apps.com/fonts/Poppins-Regular.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: infinity-poppins-semibold;
  src: url(https://my.ap1.500apps.com/pcors?url=https://widgets.500apps.com/fonts/Poppins-SemiBold.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 300;
}

.ninjachat-poppins {
  font-family: infinity-poppins !important;
}

@font-face {
  font-family: infinity-roboto;
  src: url(https://my.ap1.500apps.com/pcors?url=https://widgets.500apps.com/fonts/Roboto-Regular.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: infinity-roboto-bold;
  src: url(https://my.ap1.500apps.com/pcors?url=https://widgets.500apps.com/fonts/Roboto-Bold.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 300;
}

.ninjachat-roboto {
  font-family: infinity-roboto !important;
}
.ninjachat-helvetica{
  font-family: Helvetica, sans-serif !important;
}
.ninjachat-tahoma{
  font-family: Tahoma, sans-serif !important;
}
.ninjachat-trebuchet{
  font-family: Trebuchet MS, sans-serif !important;
}
.ninjachat-times-new-roman{
  font-family: Times New Roman, serif !important;
}
.ninjachat-georgia{
  font-family: Georgia, serif !important;
}
.ninjachat-garamond{
  font-family: Garamond, serif !important;
}
.ninjachat-courier-new{
  font-family: Courier New, monospace !important;
}
.ninjachat-brush-script{
  font-family: Brush Script MT, cursive !important;
}
