@font-face {
  font-family: infinity-opensans;
  src: url(https://venkatkalluri-500apps.github.io/OpenSans-Regular.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: infinity-opensans;
  src: url(https://venkatkalluri-500apps.github.io/OpenSans-SemiBold.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 400;
}

.ninjachat-opensans {
  font-family: infinity-opensans !important;
}

@font-face {
  font-family: infinity-poppins;
  src: url(https://venkatkalluri-500apps.github.io/Poppins-Regular.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: infinity-poppins;
  src: url(https://venkatkalluri-500apps.github.io/Poppins-SemiBold.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 400;
}

.ninjachat-poppins {
  font-family: infinity-poppins !important;
}

@font-face {
  font-family: infinity-roboto;
  src: url(https://venkatkalluri-500apps.github.io/Roboto-Regular.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: infinity-roboto;
  src: url(https://venkatkalluri-500apps.github.io/Roboto-Bold.ttf);
  unicode-range: U+000-5FF;
  font-style: normal;
  font-weight: 400;
}

.ninjachat-roboto {
  font-family: infinity-roboto !important;
}
