@import url("https://infinity.500apps.com/fonts/feather/feather.css?v=infinity_release_tag");
/*body {
  font-family: Arial, Helvetica, sans-serif;
}*/
/* The Modal (background) */
.ninjachat .ninjachat-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #12263f63;
  z-index: 999 !important;
}
/* Modal Content */
.cleanslate .ninjachat .ninjachat-modal-header {
  background-color: #fff !important;
  padding: 1.25rem !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.cleanslate .ninjachat .ninjachat-modal .ninjachat-modal-content {
  transform: translate(0, 30px);
  margin: 0 auto !important;
  background: #f6fafd !important;
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-clip: padding-box;
  border-radius: 0.5rem;
  max-width: 800px;
}
.ninjachat .ninjachat-modal .border-top {
  justify-content: start;
}
.ninjachat .modalInput {
  width: 80%;
}
/* The Close Button */
.ninjachat .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.ninjachat .close:hover,
.ninjachat .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ninjachat .ml-auto {
  margin-left: auto;
}
.ninjachat .ninjachat-modal-content {
  font-size: 0.8375rem !important;
}
.ninjachat .ninjachat-modal-content .close {
  position: absolute;
  right: 20px;
  font-size: 19px;
  top: 17px;
  font-weight: 500;
}
.mobile-chat-widget .ninjachat .ninjachat-modal-content .feedback-title {
  font-size: 0.9rem !important;
}
.ninjachat .ninjachat-form-control {
  display: block;
  width: calc(100% - 1.5rem);
  padding: 0.5rem 0.75rem !important;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #12263f;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #d2ddec !important;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ninjachat .mb-2 {
  margin-bottom: 0.375rem !important;
}
.ninjachat .mt-2 {
  margin-top: 0.375rem !important;
}
.ninjachat .mb-3 {
  margin-bottom: 0.9rem !important;
}
.ninjachat .w-100 {
  width: 100% !important;
}
.ninjachat .ml-2 {
  margin-left: 0.375rem !important;
}
.ninjachat .d-inline-block {
  display: inline-block !important;
}
.d-inline-block.ninjachat-label + .d-inline-block.ninjachat-label {
  margin-left: 15px !important;
}
.ninjachat .ninjachat-question {
  font-weight: 500 !important;
  color: #000 !important;
}
.ninjachat-label label span {
  color: #2d3849 !important;
}
.ninjachat .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #edf2f9 !important;
  border-radius: 0.5rem;
  padding: 20px 20px 10px 20px !important;
}
.ninjachat .ninjachat-hr {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  border: 0 !important;
  border-top: 1px solid #e3ebf6 !important;
}
.ninjachat .ninjachat-modal-content .mt-18px {
  margin-top: 18px !important;
}
.ninjachat .feedback-submit {
  color: #ffffff;
  background-color: #2c7be5 !important;
  border-color: #2c7be5 !important;
  padding: 8px 20px;
  border-radius: 4px;
}
.ninjachat .ninjachat-label label {
  color: #363636 !important;
}
.cleanslate .ninjachat .feedback-container {
  overflow: auto;
  max-height: 500px;
  padding: 20px !important;
}
.ninjachat .ninjachat-modal-content .feedback-title {
  font-size: 0.9rem !important;
}
.ninjachat-footer-section {
  border-bottom-left-radius: -4px;
  border-bottom-right-radius: -10px;
}
.ninjachat-footer-section .ninjachat-text-area-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px !important;
}
.mobile-chat-widget .ninjachat-footer-section .ninjachat-text-area-icons {
  height: 90px !important;
}
.ninjachat-footer-section textarea {
  box-sizing: border-box;
  padding: 0px 50px 0px 0px;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.33;
  background-color: rgb(247 247 248);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: 0;
}
.ninjachat-footer-section textarea:focus-visible {
  outline: none;
  border: 0;
}
button {
  background: none;
  border: unset;
}
.cleanslate .ninjachat-footer-section .ql-editor.ql-blank::before {
  font-style: normal !important;
  left: 15px !important;
}
.margin-zero p {
  margin: 0;
}
.bg-input-color::-webkit-scrollbar {
  width: 3px;
}
.bg-input-color::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 5px;
}
.bg-input-color::-webkit-scrollbar-track {
  box-shadow: inset 20px 20px 20px #fff;
  border-radius: 0px;
}
.chat_icon .btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}
.ninjachat-btn-light:hover {
  background-color: #e4e5ff !important;
}
.ninjachat-btn-light:focus,
.ninjachat-btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgb(130 138 145 / 0%) !important;
}
.cleanslate .ninjachat .ninjachat-items-center {
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}
.cleanslate .ninjachat .ninjachat-footer-icons {
  width: 100% !important;
}
.ninjachat .chat-body-height::-webkit-scrollbar {
  width: 5px;
}
.ninjachat .chat-body-height::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 5px;
}
.ninjachat .chat-body-height::-webkit-scrollbar-track {
  box-shadow: inset 20px 20px 20px #fff;
  border-radius: 0px;
}
.ninjachat .ninjachat-text-area-icons .bg-input-color {
  height: 40px !important;
  width: 100% !important;
  resize: none !important;
}
.cleanslate .ninjachat .ninjachat-footer-icons {
  display: inline !important;
  height: 80px !important;
}
.cleanslate .ninjachat .margin-zero {
  word-break: break-word !important;
}
.cleanslate .ninjachat .ninjachat-send-img {
  bottom: 40px !important;
  width: 22px !important;
  height: 22px !important;
  right: 15px !important;
}
.cleanslate .message-text.text-break p {
  word-break: break-word !important;
  font-size: 13px !important;
}
.cleanslate ol,
.cleanslate ul {
  font-size: 13px !important;
}
.cleanslate .ql-snow .ql-tooltip.ql-editing {
  position: absolute !important;
  top: -10px !important;
  left: 8px !important;
  padding-bottom: 2px !important;
  padding-right: 7px !important;
  padding-left: 7px !important;
}
.cleanslate .message-text.text-break ol,
.cleanslate .message-text.text-break ul {
  padding-left: 15px !important;
}
.cleanslate .ninjachat-footer-section .ql-editor p {
  font-size: 13px !important;
}
.cleanslate .ninjachat .ninjachat-footer-section {
  padding: 5px 0px 0px !important;
  background-color: transparent !important;
}
.ninjachat-chat {
  right: 20px !important;
}
.ninjachat-footer-section .ql-toolbar.ql-snow .ql-formats {
  margin-left: 10px !important;
}
.cleanslate .ninjachat .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: unset;
  margin-top: 18px;
  margin-left: -12px !important;
}
.flex-column-reverse {
  width: 320px;
}
.ninjachat-footer-section .flex-column-reverse {
  padding: 8px 15px !important;
  border-top: 1px solid #e9e9f1 !important;
}
.ninjachat-footer-section {
  border-bottom-left-radius: -4px;
  border-bottom-right-radius: -10px;
}
.ninjachat-footer-section textarea {
  box-sizing: border-box;
  padding: 0px 50px 0px 0px;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.33;
  background-color: rgb(247 247 248);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: 0;
}
.ninjachat-footer-section textarea:focus-visible {
  outline: none;
  border: 0;
}
button {
  background: none;
  border: unset;
}

.ninjachat-footer-section .textarea-emoji-control {
  height: 17px;
  right: 85px;
  top: 50px;
  width: 17px;
  cursor: pointer;
}
.ninjachat-footer-section .ql-toolbar.ql-snow {
  border: 0px solid #ccc !important;
  box-sizing: border-box !important;
  padding: 0px !important;
  position: absolute !important;
  bottom: -10px !important;
  left: -7px !important;
}
.ninjachat-footer-section .ql-toolbar.ql-snow .ql-formats .ql-picker {
  top: 4px;
}
.cleanslate .ninjachat-footer-section .ql-editor {
  max-height: 39px !important;
  min-height: 39px !important;
  padding-top: 8px !important;
  width: 290px;
  background-color: transparent !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.cleanslate .ninjachat-footer-section .ql-editor p span {
  color: #000 !important;
  font-size: 12px !important;
}
.cleanslate .ninjachat-footer-section .ql-container {
  min-height: unset !important;
  max-height: 35px;
  overflow: hidden !important;
  font-family: inherit !important;
}
.ninjachat-footer-section .ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
  width: 15px;
  height: 15px;
}
.ninjachat-footer-section .ql-snow .ql-color-picker .ql-picker-label svg,
.ql-snow .ql-icon-picker .ql-picker-label svg {
  width: 15px;
  height: 15px;
}
.cleanslate .ql-editor li:not(.ql-direction-rtl):before {
  margin-left: 0.3em !important;
}
.cleanslate .ql-editor ol li:before {
  content: counter(list-0, decimal) ". " !important;
}
.cleanslate .ql-editor ul > li::before {
  content: "\2022" !important;
}
.margin-zero p {
  margin: 0;
}
.cleanslate .ql-editor::-webkit-scrollbar {
  width: 3px;
}
.cleanslate .ql-editor::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 5px;
}
.cleanslate .ql-editor::-webkit-scrollbar-track {
  box-shadow: inset 20px 20px 20px #fff;
  border-radius: 0px;
}
.ninjachat-footer-section .ql-toolbar.ql-snow .ql-formats {
  margin-right: 0px;
}
.ninjachat-footer-section .ql-snow .ql-picker.ql-expanded .ql-picker-options {
  top: -103px;
}
.ninjachat-footer-section .ql-snow .ql-color-picker .ql-picker-label,
.ql-snow .ql-icon-picker .ql-picker-label {
  padding: 0px 4px;
}
.chat_icon .btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}
.ninjachat-footer-section .ql-snow .ql-stroke {
  stroke: #aeabab;
  stroke-width: 1.5;
}
.ninjachat-footer-section .ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #aeabab;
}
.ninjachat-btn-light:hover {
  background-color: #e4e5ff !important;
}
.ninjachat-btn-light:focus,
.ninjachat-btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgb(130 138 145 / 0%) !important;
}
.textarea-emoji-control:hover .ql-stroke {
  stroke: #06c !important;
}
.textarea-emoji-control:hover .ql-fill {
  fill: #06c !important;
}
.ninjachat-footer-section .ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  width: 30px;
}
/* Animation effects */
.ninjachat-animation-bounce-enter-active {
  animation: bounce-in 2s ease;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.ninjachat-animation-fade-enter-active,
.ninjachat-animation-fade-leave-active {
  transition: opacity 0.5s;
  animation: fade-in 2s linear;
}
.ninjachat-animation-fade-enter,
.ninjachat-animation-fade-leave-to {
  opacity: 0;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ninjachat-animation-slide-enter-active,
.ninjachat-animation-slide-leave-active {
  transition: opacity 0.5s;
}
.ninjachat-animation-slide-enter,
.ninjachat-animation-slide-leave-to {
  transform: scaleY(0);
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.ninjachat-animation-slide-fade-enter-active {
  transition: all 0.3s ease;
  animation: bounce-in-right 2s ease;
}
.ninjachat-animation-slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.ninjachat-animation-slide-fade-enter, .ninjachat-animation-slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.ninjachat-animation-fade-in-left-enter-active {
  transition: all 0.3s ease;
  animation: fade-in-left 1s ease;
}
.ninjachat-animation-fade-in-left-leave-active {
  transition: all 0.3s ease;
  animation: fade-in-left 1s ease;
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.ninjachat-animation-fade-in-top-enter-active {
  transition: all 0.3s ease;
  animation: fade-in-top 1s ease;
}
.ninjachat-animation-fade-in-top-leave-active {
  transition: all 0.3s ease;
  animation: fade-in-top 1s ease;
}
@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
  }
}
.ninjachat-animation-fade-in-up-enter-active {
  transition: all 0.3s ease;
  animation: fade-in-up 1s ease;
}
.ninjachat-animation-fade-in-up-leave-active {
  transition: all 0.3s ease;
  animation: fade-in-up 1s ease;
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
  }
}
.ninjachat-animation-shake-enter-active {
  transition: all 0.3s ease;
  animation: shake 1s ease;
}
.ninjachat-animation-shake-leave-active {
  transition: all 0.3s ease;
  animation: shake 1s ease;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.ninjachat-animation-pulse-enter-active {
  transition: all 0.3s ease;
  animation: pulse 1s ease;
}
.ninjachat-animation-pulse-leave-active {
  transition: all 0.3s ease;
  animation: pulse 1s ease;
}
@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
.ninjachat-animation-fade-out-enter-active,
.ninjachat-animation-fade-out-leave-active {
  transition: all 0.5s ease-in-out;
  animation: fade-out 1s ease-in-out;
}
.ninjachat-animation-fade-out-enter,
.ninjachat-animation-fade-out-leave-to {
  opacity: 0;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.cleanslate .ninjachat-chat .ninjachat-bg-img-section {
  max-height: calc(100vh - 410px) !important;
  overflow-x: hidden !important;
}
.mobile-chat-widget.cleanslate .main-content .ninjachat-chat {
  width: 100% !important;
  height: calc(100vh - 5px);
  right: 0px !important;
  top: 0px;
  bottom: 0px !important;
}
.mobile-chat-widget .mobile-footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}
.mobile-chat-widget .ninjachat-welcome-bg {
  width: fit-content;
}
.mobile-chat-widget .ninjachat-header-profile-section {
  border-radius: 0px !important;
}
.mobile-chat-widget.cleanslate .ninjachat-chat .ninjachat-footer-section {
  padding: 5px 0px 0 !important;
  height: 75px !important;
  background-color: #ffffff !important;
}
.mobile-chat-widget.cleanslate .flex-column-reverse {
  width: 92% !important;
  padding: 8px 25px !important;
}
.mobile-chat-widget.cleanslate .main-content .ninjachat-header-profile-section {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  padding: 12px 15px !important;
  height: 35px !important;
}
.mobile-chat-widget.cleanslate .main-content .ninjachat-widget-close {
  width: 28px !important;
  height: 28px !important;
  background-color: transparent !important;
}
.mobile-chat-widget.cleanslate .main-content .ninjachat-widget-history .ninjachat-close-icon {
  width: 15px !important;
  height: 15px !important;
  right: 20px !important;
  top: 20px !important;
}
.mobile-chat-widget.cleanslate .ninjachat-close-icon {
  position: absolute;
  right: 26px;
  top: 23px;
  width: 13px;
  height: 13px;
  filter: brightness(0) invert(1);
  opacity: 0.7;
}
.mobile-chat-widget.cleanslate .ninjachat-footer-icons {
  display: block !important;
  width: 100% !important;
}
.mobile-chat-widget.cleanslate .ninjachat-chat .ninjachat-footer-section .bg-input-color {
  width: 100% !important;
  resize: none !important;
  margin-bottom: 25px !important;
  background-color: transparent !important;
  margin-top: 0px !important;
}
.mobile-chat-widget.cleanslate .main-content .ninjachat-chat .ninjachat-footer-500app {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.mobile-chat-widget.cleanslate .main-content .ninjachat-header-profile-section .ninjachat-gravatar {
  width: 30px !important;
  height: 30px !important;
}
.cleanslate .main-content .ninjachat-chat .ninjachat-widget-close {
  background-color: transparent !important;
  width: 25px !important;
  height: 25px !important;
}
.cleanslate .main-content .ninjachat-chat .ninjachat-widget-close .ninjachat-close-icon {
  width: 13px !important;
  height: 13px !important;
  /* top: 25px !important; */
  opacity: 0.75;
}
.cleanslate .main-content .ninjachat-chat .ninjachat-widget-close .ninjachat-close-icon:hover {
  opacity: 1;
}
.cleanslate .ninjachat-chat .form-border {
  border: 1px solid #f1f1f1 !important;
  margin-bottom: 8px !important;
  padding: 8px !important;
  width: 93%;
  border-radius: 4px !important;
  margin-top: 5px !important;
}
.cleanslate .modal-prevent-closing {
  background: #fff !important;
  box-shadow: 0px 0px 15px 2px #f1f1f1 !important;
  position: absolute !important;
  width: 86% !important;
  top: 100px !important;
  border-radius: 4px !important;
}
.cleanslate .modal-prevent-closing .form-padding {
  padding: 15px !important;
}
.cleanslate .ninjachat .border-bottom {
  border-bottom: 1px solid #f1f1f1 !important;
  padding: 12px !important;
}
.cleanslate .ninjachat .border-top {
  border-top: 1px solid #f1f1f1 !important;
  display: flex;
  justify-content: end;
  padding: 20px !important;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 0px !important;
}
.cleanslate .modal-prevent-closing .heading-font {
  font-size: 15px !important;
  font-weight: 500 !important;
}
.cleanslate .modal-prevent-closing .modal-cross-icon {
  width: 12px !important;
  opacity: 0.5 !important;
  cursor: pointer !important;
  position: absolute !important;
  right: 13px !important;
  top: 18px !important;
}
.cleanslate .modal-prevent-closing .modal-cross-icon:hover {
  opacity: 0.75 !important;
}
.cleanslate .ninjachat-close-icon {
  width: 14px !important;
  height: 18px !important;
  cursor: pointer !important;
  position: absolute;
  right: 22px !important;
  top: 26px !important;
  filter: invert(1);
}
.cleanslate .ninjachat .btn-secondary {
  color: #ffffff;
  background-color: #6e84a3;
  border-color: #6e84a3;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 10px;
}
.cleanslate .ninjachat .btn-primary {
  background-color: #2c7be5;
  border-color: #2c7be5;
  color: #fff;
  padding: 8px 12px !important;
  border-radius: 4px;
  margin-right: 10px;
}
.cleanslate .ql-snow .ql-tooltip {
  border: 1px solid #ccc !important;
  padding: 5px 12px !important;
  white-space: nowrap;
  border-radius: 4px;
}
.mobile-chat-widget.cleanslate .ninjachat .mobile-footer {
  position: fixed;
  bottom: 0px;
}
.mobile-chat-widget.cleanslate .ninjachat-footer-section .ql-editor {
  max-height: 40px !important;
  min-height: 40px !important;
  width: 95% !important;
}
.mobile-chat-widget.cleanslate .ninjachat-footer-section .ql-toolbar.ql-snow {
  bottom: 1px !important;
}
.mobile-chat-widget.cleanslate .ninjachat .ninjachat-send-img {
  bottom: 43px !important;
  right: 12px !important;
}
.cleanslate .ql-files {
  padding-left: 0 !important;
  padding-top: 1px !important;
}
.cleanslate .ql-files svg {
  width: 22px !important;
  height: 22px !important;
  margin-left: -3px;
}
.cleanslate .ql-files svg:hover path {
  fill: #1976d3 !important;
}
.cleanslate .main-content .ninjachat-chat .ninjachat-minimize-icon {
  width: 23px !important;
  margin-top: 0px !important;
  opacity: 0.75;
  filter: invert(1);
}
.cleanslate .main-content .ninjachat-chat .ninjachat-minimize-icon:hover {
  opacity: 1;
}
.mobile-chat-widget.cleanslate .modal-prevent-closing {
  width: 60% !important;
  margin: 0 175px !important;
  top: 10% !important;
}
.ninjachat-bubble .ninjachat-bubble-comment-section-replay .ninjachat-avatar-flex {
  display: flex;
  flex-direction: row-reverse;
}
.ninjachat-bubble .ninjachat-bubble-comment-section-replay .ninjachat-avatar-flex .align-self-end {
  align-self: end;
}
.ninjachat-bubble .ninjachat-bubble-comment-section-replay .ninjachat-avatar-flex .rounded-avatar {
  border-radius: 50%;
  margin-right: 6px !important;
  width: 23px;
  height: 23px;
}
.ninjachat-ultra .ninjachat-ultra-comment-section-replay .ninjachat-avatar-flex .rounded-avatar {
  margin-right: 0px !important;
  width: 23px;
  height: 23px;
  margin-left: 7px !important;
}
.ninjachat-ultra .ninjachat-ultra-comment-section-replay .ninjachat-avatar-flex .align-self-end {
  margin-right: 0px !important;
}
.ninjachat-bubble .ninjachat-bubble-message-box .ninjachat-avatar-flex {
  display: flex;
}
.ninjachat-bubble .ninjachat-bubble-message-box .ninjachat-avatar-flex .rounded-avatar {
  border-radius: 50%;
  margin-right: 6px !important;
  width: 23px;
  height: 23px;
}
.ninjachat-bubble .ninjachat-bubble-message-box .ninjachat-avatar-flex .align-self-end {
  align-self: end;
}
.cleanslate .margin-zero img {
  width: 100%;
}
.cleanslate .margin-zero embed {
  width: 100%;
}
.mobile-footer embed {
  width: 100%;
}
#scroller::-webkit-scrollbar {
  width: 4px;
}
.ninjachat .img-width img {
  width: 100%;
}
.ninjachat-quill-img .ql-snow .ql-editor img {
  max-width: 25% !important;
}
.ninjachat .ninjachat-reply {
  text-align: right !important;
}
.cleanslate .ninja-thin-scroll::-webkit-scrollbar {
  width: 7px;
}
.ninja-thin-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f9fbfd;
  border-radius: 5px;
}

.ninja-thin-scroll::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 5px;
}
.ninjachat .ninjachat-mobile-space .d-inline-block {
  padding: 0.5rem 1.2rem !important;
}
.ninjachat input[type="radio" i] {
  background-color: initial;
  appearance: auto !important;
}
.cleanslate .ninjachat-footer-section .ql-toolbar.ql-snow {
  background-color: #f7f7fb !important;
  width: 100% !important;
  bottom: -4px !important;
  left: 0px !important;
  padding: 2px !important;
  border-top: 1px solid #efeff1 !important;
  border-radius: 0px !important;
}
.cleanslate .ninjachat .ql-editor.ql-blank::before {
  top: unset !important;
  font-weight: normal !important;
}
.cleanslate .ninjachat .ql-editor p {
  font-size: 13px !important;
  margin-left: 13px !important;
}
.cleanslate .ninjachat-chat .ninjachat-footer-500app {
  border-top: 1px solid #efeff1 !important;
}
.cleanslate .nc-online-form,
.cleanslate .nc-offline-form {
  background: #fff;
  padding: 12px !important;
  box-shadow: 0.15rem 0.15rem 0.75rem 0.15rem rgb(18 38 63 / 8%) !important;
  border-radius: 6px !important;
}
.cleanslate .primary-margin {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.cleanslate textarea {
  resize: none;
}
.cleanslate .validation-text {
  text-align: center;
}
.cleanslate .validation-text .valid-text-color {
  color: red !important;
  margin-top: 10px !important;
}
.cleanslate .ninjachat-chat .ninjachat pre {
  font-family: inherit !important;
  font-size: 13px !important;
  word-break: break-word !important;
}
.cleanslate .infinity-chat-icon .ninjachat-icon {
  right: 75px !important;
}
.ninjachat-strip.ninjachat-icon.chat {
  width: 350px !important;
  background: #3153f7;
  padding: 10px !important;
  height: 25px !important;
  color: #fff;
  border-radius: 4px !important;
}
.ninjachat-help-text {
  padding: 5px 16px !important;
  color: #005ffb !important;
}
